  {% extends 'base.html' %}
 {% load bootstrap %}
 
  {% block body %}

<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<style>
    .container
    {
        margin-top:100px;
    }
</style>
</head>
<body>
<div class="container">
<nav  class="p-3 mb-2 text-dark">
    <h1>Cadastro da vaga</h1>
<nav>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form_vaga|bootstrap }}
        <button type="submit" class="save btn btn-default">Salvar</button>
    </form>
    </div>
    </body>
{% endblock %}