 {% load bootstrap %}
 


<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="../static/styles/cadastra_vaga.css">

</head>
<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Cadastrar Vaga</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">{{request.user.prop}}</a>
            <a class="p-2 text-dark" href="{% url 'index_prop' %}">Home</a>
        </nav>
        <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
      </div>

<div class="container">
<nav  class="p-3 mb-2 text-dark">
    <h1>Cadastro da vaga</h1>
<nav>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form_vaga|bootstrap }}
        <button type="submit" class="save btn btn-default">Salvar</button>
    </form>
    </div>   
    </body>
